version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: ./docker/frontend.Dockerfile
    ports:
      - "8080:8080"
    environment:
      - BACKEND_URL=http://backend:5000
      - DANGEROUSLY_DISABLE_HOST_CHECK=true
      - WDS_SOCKET_HOST=localhost
      - WDS_SOCKET_PORT=8080
    restart: unless-stopped
    networks:
      - app-network  # 添加此行，确保frontend也在app-network中
  
  backend:
    build:
      context: .
      dockerfile: ./docker/backend.Dockerfile
    ports:
      - "5000:5000"
    restart: unless-stopped
    networks:
      - app-network  # 添加此行，确保backend也在app-network中
    healthcheck:
      test: ["CMD", "curl", "-f", "http://10.10.15.210:5000/api/scenes"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
  
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"  # 如果需要HTTPS
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf  # Nginx配置文件
      - frontend_build:/usr/share/nginx/html  # 挂载前端构建文件
      - ./nginx/certs:/etc/nginx/certs  # 如果需要SSL证书
    depends_on:
      - frontend
      - backend
    restart: unless-stopped
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost"]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  app-network:
    driver: bridge

volumes:
  frontend_build:  # 定义共享卷