services:
  frontend:
    build:
      context: .
      dockerfile: ./docker/frontend.Dockerfile
    ports:
      - "8080:8080"
    environment:
      - BACKEND_URL=http://backend:5000
      - DANGEROUSLY_DISABLE_HOST_CHECK=true
      - WDS_SOCKET_HOST=localhost
      - WDS_SOCKET_PORT=8080
    restart: unless-stopped
  
  backend:
    build:
      context: .
      dockerfile: ./docker/backend.Dockerfile
    ports:
      - "5000:5000"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://10.10.15.210:5000/api/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s