version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: ./docker/frontend.Dockerfile
    ports:
      - "3000:3000"
    environment:
      - DANGEROUSLY_DISABLE_HOST_CHECK=true
      - WDS_SOCKET_HOST=localhost
      - WDS_SOCKET_PORT=3000
    restart: unless-stopped
    volumes:
      - frontend_build:/app/dist  # 假设构建输出目录是dist
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3
  
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"  # 如果需要HTTPS
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf  # Nginx配置文件
      - frontend_build:/usr/share/nginx/html  # 挂载前端构建文件
      - ./nginx/certs:/etc/nginx/certs  # 如果需要SSL证书
    depends_on:
      - frontend
    restart: unless-stopped
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost"]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  app-network:
    driver: bridge

volumes:
  frontend_build:  # 定义共享卷